# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@ep-super-leaf-a1nkpv6f.ap-southeast-1.aws.neon.tech/authentication-full-cwa?sslmode=require"

AUTH_SECRET="pCSACv75KjZyj054rCBTR6sLhzlqkVv1hmOV1hur6NQ"